/* Project Page */
.ProjectContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.projectTile {
  border-radius: 15px;
  background: $brand-color;
  @media (prefers-color-scheme: dark) {
    background: $projectbox-dark;
  }
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Le filtre noir transparent par-dessus l'image */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    var(--bg-img);
}


.projectTile a {
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}


.projectTile a span {
  width: 100%;
  height: 100%;;
  display: flex;
  justify-content: center;

}

.projectTile a span h2 {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  color: $text-color;
}

.projectTile:hover a span h2 {
  display: none;
}

.projectTile a span p {
  display: none;
}

.projectTile:hover a span p {
  font-size: 1.2rem;
  display: flex;
  padding: 1rem;
  color: $text-color;
}

@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){

    .projectTile {
      height: 80px;
    }

    .projectTile a span h2 {
      font-size: 1.2rem;
    }

    .projectTile:hover a span p {
      display: none;
    }

    .projectTile:hover a span h2 {
      display: flex;
    }


  }
}

@include media-query($on-palm) {
  @media screen and (max-width: $on-palm){

    .projectTile {
      height: 100px;
    }

    .projectTile a span h2 {
      font-size: 1.0rem;
    }

    .projectTile:hover a span p {
      display: none;
    }

    .projectTile:hover a span h2 {
      display: flex;
    }

  }
}


@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

//Based on: https://codepen.io/GeorgePark/pen/vdqYom
