html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

body {
  max-width: $content-width;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
  //background-image: url("../images/testback.png");
  background-size: cover;
  // padding: 2em 1em;
  text-rendering: optimizeLegibility;

  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
    color: $text-color-dark;
  }
}

.bg-diffuse {
  /* Fond noir pur avec un cercle éclairé au centre */
  background: radial-gradient(circle at center, #41335c 0%, #000000 50%);
  
  /* S'assure que le fond prend toute la page */
  
  background-attachment: fixed;

}

h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.8;
  margin: 0;
  text-transform: inherit;
}


/* CSS */
a {
  appearance: none;
  background-color: transparent;
  border: 2px solid $secondary-color;
  border-radius: 15px;
  box-sizing: border-box;
  color: $text-color;
  cursor: pointer;
  display: inline-block;

  line-height: normal;

  outline: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  will-change: transform;
}

a:disabled {
  pointer-events: none;
}

a:hover {
  color: #fff;
  background-color: $secondary-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  //transform: translateY(2px);
}

a:active {
  box-shadow: none;
  transform: translateY(0);
}


figure {
  margin: 0;
}

img {
  max-width: 100%;
}

pre,
code {
  overflow: auto;
  font-size: 0.7*$base-font-size;
  border-radius: 3px;
  border: 1px solid $brand-color;
  > code {
    border: none;
  }
}

pre {
  padding: 1em;
}

code {
  padding: 0.1em;
}

blockquote {
  border-left: 2px solid $brand-color;
  padding-left: 1em;
  font-family: Georgia,Times,Times New Roman,serif;
  font-size: 0.9*$base-font-size;
  font-style: italic;
}


.headline, .post-headline {
  font-size: 2em;
  margin-bottom: -0.4em;

  @include media-query($on-palm) {
    font-size: 2em;
  }
}

/* Pagination style in index/home page */
.pagination {
  margin: 2em 0;
  text-align: center;

  a {
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }

  a, span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -4px;
    margin-right: -4px;
    background-color: transparent;
    display: inline-block;
  }
}


/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
}

/* Add video class for iframes to make them responsive */
.video {
  width: 100%;
  height: 360px;
  @include media-query($on-laptop) {
    height: 300px;
  }
  @include media-query($on-palm) {
    height: 180px;
  }
}

/* Horizontal Divider */
.divider {
  margin: 0;
}

/* Horizontal scrolling navbar. From: https://iamsteve.me/blog/horizontal-scrolling-responsive-menu */
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.scroll::-webkit-scrollbar {
  display: none; }


/* Button */
.simplebutton {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  /*padding: 10px 23px;*/
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
      border-color: #000000;
      background: #f7f7f7;
  }
}

/* Article list in blog and archive page */
.article-list {
  margin: 1em 0;
}

// .project-content {
//   color: #dbe7f7;
//   line-height: 1.6;
// }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

aside section {
  margin-bottom: 2rem;
  width: 90%;
  height: auto;
  background: $brand-color;
  border-radius: 50px;
  //box-shadow: 0 12px 40px rgba(0,0,0,0.45);
  //backdrop-filter: blur(8px);
  text-align: left;


}

aside section h2{
  margin-top: 0;
  color: $projectbox-text;
}

.article-item{
    padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;

}

.article-item h2{
  text-align: center;
  color: $projectbox-text;
}

/* cadre central flouté */
.section-item {
position: relative;
  width: 70%;
  margin: 2rem auto; /* Combiné pour plus de clarté */
  padding: 2.2rem;

  background: linear-gradient(
    150deg, 
    #2d243e 0%, 

    #0f0f0f 100%
  );
  
  // Arrondi : 50px c'est très rond (pilule), 24px-32px fait souvent plus "UI pro"
  border-radius: 40px; 
  color: $text-color;
}

.section-item :is(h1, h2){
  margin-top: 0;
  text-align: center;
}


.notes-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  //margin-top: 15px;
}

.note-tag {
  padding: 15px;
  //line-height: 20px; /* Aligne le texte au milieu des 50px */
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  //border: 2px solid $secondary-color;
  border-radius: 20px; /* Arrondi pour un look moderne */
  //background: $secondary-color;
  color: $text-color;
  box-shadow: 0 0 5px $secondary-color; /* Légère lueur pour faire ressortir les tags */
}




.boxshadow {
 // Fond : On utilise une légère transparence pour le côté moderne
  //background: rgba($brand-color, 0.9); 
  
  // Bordure : Très fine et semi-transparente pour capter la lumière
  //border: 2px solid rgb(58, 58, 58);

   // L'ombre "Glow" : On superpose une ombre portée et une lueur
  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.4),            /* Ombre portée pour la profondeur */
    0 0 25px rgba(116, 83, 168, 0.6);         /* Lueur diffuse de ta couleur violette */

  // On réactive le blur pour l'effet premium
  backdrop-filter: blur(2px); 

    // Petit bonus : une bordure subtile en haut pour simuler un reflet
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0; left: 10%; right: 10%; height: 2px;
  //   background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
  // }
}

.bandeau {
  padding-top: 5rem;
  /* Chemin relatif depuis assets/css/style.css compilé vers assets/images/... */
  //background-image: url("../images/testback.png");
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // overflow: hidden;

  /* full-bleed layout */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;


  

  /* avatar placé sur la droite de la bannière (optionnel) */
  .bandeau__avatar {
    position: relative;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;


    @include media-query($on-palm) {
      width: 80px;
      height: 80px;
      right: 4%;
      bottom: 4%;
    }
  }

  /* Liste d'icônes sous le texte d'intro */
  .bandeau-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  .bandeau-icons li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: auto;

  }

  .bandeau-icons img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    //box-shadow: 0 6px 18px rgba(0,0,0,0.35);
    transition: transform 160ms ease, opacity 160ms ease;
    //background: rgba(255,255,255,0.03);
    padding: 20px;
  }

  .bandeau-icons img:hover {
    transform: translateY(-4px) scale(1.04);
    opacity: 0.98;
  }
 }

/* Navigation bar styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  //background-color: rgba(0, 0, 0, 0.5);
}


//BACKGROUND DES PROJETS
.city-silhouettes {
  position: fixed;
  bottom: -20vh;
  left: 0;
  width: 100%;
   height: 100%; /* La ville occupe le bas de l'écran */
  background-image: url(../images/trace.svg);
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6; /* Pour un look minimaliste */
  z-index: -1;
  pointer-events: none; /* Pour pouvoir cliquer à travers sur tes liens */
}

.planet {
  width: 150px;
  height: 150px;
  background: radial-gradient(circle at 30% 30%, #5d4385, #000);
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(116, 83, 168, 0.3);
  position: fixed;
  top: 10%;
  right: 15%;
}
